<!-- Guest front page template -->
{% extends "base.html" %}
{% block content %}

<div class="centered">
  <a href="/login">Login to make new posts!</a>
</div>
<br>
<div class="blog-container">
  {% for post in posts %}
  <div>
    <h2>
      <a href="/{{post.key().id()}}">
        {{post.subject}}
      </a>
       by {{post.author}}
    </h2>
    <div class="date">
      {{post.created.strftime("%b %d, %Y")}}
    </div>
  </div>
  <hr>
  <p>{{post.format()|safe}}</p>
  <br>
  {{post.likes}} Likes, <a href="/{{post.key().id()}}">{{post.comment_len()}} Comments</a>
  {% endfor %}
</div>
{% endblock %}
